.lite {
 background-color: #dedede;
 color: #002211;
 text-align: center;
}

.dark {
 background-color: #002211;
 color: #ffddee;
}

footer {
 text-align: center;
 position: absolute;
 display: block;
 bottom: 10px;
}
